<p style="color: green"><%%= notice %></p>

<div class="geolonia"
  data-lat=<%%= @<%= singular_table_name %>.lat %>
  data-lng=<%%= @<%= singular_table_name %>.lng %>
  data-zoom=16
  style="height:300px;"><%%= marker_content(@<%= singular_table_name %>) %></div>

<%%= render @<%= singular_table_name %> %>

<div>
  <%%= link_to "Edit this <%= human_name.downcase %>", <%= edit_helper(type: :path) %>, data: {turbo: false} %> |
  <%%= link_to "Back to <%= human_name.pluralize.downcase %>", <%= index_helper(type: :path) %> %>

  <%%= button_to "Destroy this <%= human_name.downcase %>", <%= model_resource_name(prefix: "@") %>, method: :delete %>
</div>

<script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=YOUR-API-KEY"></script>
